# Distribution file for the Example project.
# http://www.openengine.dk/wiki/Projects/CarVisuals

# main repository
git / https://github.com/OpenEngineDK/openengine.git
git-dev / git@github.com:OpenEngineDK/openengine.git

# project repository
git /projects/CarVisuals https://github.com/OpenEngineDK/projects-CarVisuals.git
git-dev /projects/CarVisuals git@github.com:OpenEngineDK/projects-CarVisuals.git

dist /extensions/Assimp/Assimp.dist	 https://raw.githubusercontent.com/OpenEngineDK/extensions-Assimp/master/Assimp.dist
dist /extensions/GLFW/GLFW.dist	 https://raw.githubusercontent.com/OpenEngineDK/extensions-GLFW/master/GLFW.dist

# required extensions
git /extensions/SDL                    https://github.com/OpenEngineDK/extensions-SDL.git
git /extensions/FreeImage              https://github.com/OpenEngineDK/extensions-FreeImage.git
git /extensions/CairoResource          https://github.com/OpenEngineDK/extensions-CairoResource.git
git /extensions/Renderer2              https://github.com/OpenEngineDK/extensions-Renderer2.git
git /extensions/OpenGLRenderer         https://github.com/OpenEngineDK/extensions-OpenGLRenderer.git
git /extensions/MeshUtils              https://github.com/OpenEngineDK/extensions-MeshUtils.git
git /extensions/GenericHandlers        https://github.com/OpenEngineDK/extensions-GenericHandlers.git

git-dev /extensions/SDL                git@github.com:OpenEngineDK/extensions-SDL.git
git-dev /extensions/FreeImage          git@github.com:OpenEngineDK/extensions-FreeImage.git
git-dev /extensions/CairoResource      git@github.com:OpenEngineDK/extensions-CairoResource.git
git-dev /extensions/Renderer2          git@github.com:OpenEngineDK/extensions-Renderer2.git
git-dev /extensions/OpenGLRenderer     git@github.com:OpenEngineDK/extensions-OpenGLRenderer.git
git-dev /extensions/MeshUtils          git@github.com:OpenEngineDK/extensions-MeshUtils.git
git-dev /extensions/GenericHandlers    git@github.com:OpenEngineDK/extensions-GenericHandlers.git

# windows libraries
win32 /libraries http://openengine.dk/data/libraries/boost-win32.zip
win32 /libraries http://openengine.dk/data/libraries/glew-win32.zip
win32 /libraries http://openengine.dk/data/libraries/sdl-win32.zip
win32 /libraries http://openengine.dk/data/libraries/dlls-win32.zip

# darwin libraries

# linux libraries

# project data
any /resources		http://www.openengine.dk/data/projects/CarVisuals/skymap.tar.gz
any /resources		http://www.openengine.dk/data/projects/CarVisuals/AudiR8.tar.gz
any /resources		http://www.openengine.dk/data/projects/CarVisuals/marmor.tar.gz
