# Distribution file for the Example project.
# http://www.openengine.dk/wiki/Projects/CarVisuals

# main repository
darcs / http://openengine.dk/code/openengine
darcs-dev / fh.daimi.au.dk:/users/cgd/code/openengine

# project repository
darcs /projects/CarVisuals http://openengine.dk/code/projects/CarVisuals
darcs-dev /projects/CarVisuals fh.daimi.au.dk:/users/cgd/code/projects/CarVisuals

dist /extensions/Assimp/Assimp.dist	 http://openengine.dk/code/extensions/Assimp/Assimp.dist
dist /extensions/GLFW/GLFW.dist	 http://openengine.dk/code/extensions/GLFW/GLFW.dist

# required extensions
darcs /extensions/SDL                    http://openengine.dk/code/extensions/SDL
darcs /extensions/FreeImage              http://openengine.dk/code/extensions/FreeImage
darcs /extensions/CairoResource          http://openengine.dk/code/extensions/CairoResource
darcs /extensions/Renderer2              http://openengine.dk/code/extensions/Renderer2
darcs /extensions/OpenGLRenderer         http://openengine.dk/code/extensions/OpenGLRenderer
darcs /extensions/MeshUtils              http://openengine.dk/code/extensions/MeshUtils
darcs /extensions/GenericHandlers        http://openengine.dk/code/extensions/GenericHandlers

darcs-dev /extensions/SDL                fh.daimi.au.dk:/users/cgd/code/extensions/SDL
darcs-dev /extensions/FreeImage          fh.daimi.au.dk:/users/cgd/code/extensions/FreeImage
darcs-dev /extensions/CairoResource      fh.daimi.au.dk:/users/cgd/code/extensions/CairoResource
darcs-dev /extensions/Renderer2          fh.daimi.au.dk:/users/cgd/code/extensions/Renderer2
darcs-dev /extensions/OpenGLRenderer     fh.daimi.au.dk:/users/cgd/code/extensions/OpenGLRenderer
darcs-dev /extensions/MeshUtils          fh.daimi.au.dk:/users/cgd/code/extensions/MeshUtils
darcs-dev /extensions/GenericHandlers    fh.daimi.au.dk:/users/cgd/code/extensions/GenericHandlers

# windows libraries
win32 /libraries http://openengine.dk/data/libraries/boost-win32.zip
win32 /libraries http://openengine.dk/data/libraries/glew-win32.zip
win32 /libraries http://openengine.dk/data/libraries/sdl-win32.zip
win32 /libraries http://openengine.dk/data/libraries/dlls-win32.zip

# darwin libraries

# linux libraries

# project data
any /resources		http://www.openengine.dk/data/projects/CarVisuals/skymap.tar.gz
any /resources		http://www.openengine.dk/data/projects/CarVisuals/AudiR8.tar.gz
any /resources		http://www.openengine.dk/data/projects/CarVisuals/marmor.tar.gz
